{% extends "layout.html" %}
{% from "_flashhelpers.html" import render_flashes %}
{% from "_formhelpers.html" import link_button %}
{% from "_navhelpers.html" import render_nav %}
{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">{{ render_nav(active='events') }}</div> 
    <div class="span10">
    {{ render_flashes() }}
    <h2>Your events</h2><br>
  <table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th>Event name</th>
        <th>Date</th>
        <th>Photos uploaded</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      {% for event in current_user.events %}
      <tr>
        <td>
            {{ 
                link_button(
                   event.name,
                   url_for('gallery', user_slug=event.user.userslug, event_slug=event.slug),
                   icon='picture',
                   header='4'
                )
            }}
        </td>
        <td>{{ event.date.strftime('%Y-%m-%d') }}</td>
        <td>{{ event.photos.count() }}</td>
  
        <td>
            {{ 
                link_button(
                   'Add photos',
                   url_for('upload', event_slug=event.slug, user_slug=user.userslug),
                   icon='plus',
                )
            }}
         </td>
        <td>
            {{ 
                link_button(
                   'Delete event (and all photos)',
                   url_for('event', event=event.id),
                   icon='remove',
                   add_class='btn-danger'
                )
            }}
         </td>
      </tr>
      {% else %}
      <tr>
        <td colspan=3>None</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ link_button('Add an Event', url_for('event'), add_class='btn-primary', header='4') }}
    </div>
  </div>
</div>
{% endblock %}
