{% extends "layout.html" %}
{% from "_flashhelpers.html" import render_flashes %}
{% from "_formhelpers.html" import link_button %}
{% from "_navhelpers.html" import render_nav %}
{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
{% if not current_user.is_anonymous() %}
    <div class="span2">{{ render_nav() }}</div> 
{% endif %}
    <div class="{% if not current_user.is_anonymous() %}span10{% else %}span12{% endif %}">
    {{ render_flashes() }}

    <div class="page-header">
        <div><h1>{{ event.user.name }}
        <div class="pull-right">
        {{
            link_button(
                'Add photos',
                url_for('upload', event_slug=event.slug, user_slug=event.user.userslug), 
                icon='plus',
                header='3'
            )
        }}
        </div>
        <small><h1>{{ event.name }}</h1></small></h1> 
        </div>
    </div>
    <div id="galleria">
    {% for photo in photos %}
        <a href="{{ photo.web_url }}">
            <img {% if photo.owner_name %}title="by {{ photo.owner_name }}" alt="{% if photo.description %}{{ photo.description }}{% endif %}"{% endif %} src="{{ photo.thumb_url }}">
        </a>
    {% else %}
        <a href="/static/img/nophotos.gif">
            <img src="/static/img/thumb-nophotos.gif">
        </a>
    {% endfor %}
    </div> 

    <br>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/galleria/galleria-1.2.7.min.js"></script>
<!-- The localization script -->
<script src="/static/js/locale.js"></script>
<!-- The main application script -->
<script src="/static/js/main.js"></script>
    <script> 
 
    // Load the classic theme
    Galleria.loadTheme('/static/js/galleria/themes/folio/galleria.folio.min.js');
    
    // Initialize Galleria
    $('#galleria').galleria();
 
    </script> 

{% endblock %}
