<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AllAngl.es</title>
<meta name="description" content="AllAngl.es helps friends and family consolidate the photos from their special events.  This allows everyone to share the wealth of those captured memories.  Additionally, ordering prints of those photos is only a few clicks away.">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<!-- Bootstrap CSS Toolkit styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- Generic page styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Bootstrap CSS fixes for IE6 -->
<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
<!-- Bootstrap Image Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" href="/static/css/colorbox.css">
<link rel="stylesheet" href="/static/js/galleria/themes/folio/galleria.folio.css" id="galleria-theme">
<style> 
        
            /* Demo styles */
            html,body{background:#fff;margin:0;}
            body{border-top:4px solid #eee;}
            .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;margin:20px;}
            p{margin:0 0 20px}
            a {color:#22BCB9;text-decoration:none;}
            .cred{margin-top:20px;font-size:11px;}

            #galleria{ height: 432px; }
            
</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('index') }}">AllAngl.es</a>
                {% if not current_user.is_anonymous() %}
                <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user"></i>{{ current_user.name }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('profile') }}">Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                </ul>
                </div>
                {% else %}
                <ul class="nav pull-right">
                  <li><a href="{{ url_for('login') }}">Log in</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                </ul>
                {% endif %}
        </div>
    </div>
</div>
{% block body %}{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/jquery.colorbox-min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
{% block script %}{% endblock %}
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<script src="/static/js/bootstrap.min.js"></script>
</body> 
</html>
