{% extends "frontlayout.html" %}
{% from "_flashhelpers.html" import render_flashes %}
{% from "_formhelpers.html" import render_login_field %}
{% block body %}
      <section>
        <header>
          <h1 class="sect-head bg-orange">Log in</h1>
        </header>
         <div class="row">
           <div class="span12">
  {{ render_flashes() }}
<form class="form-horizontal" id="registerHere" method='post' action="{{ url_for('login') }}">
    <fieldset>

        {% if form.errors %}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">x</button>
                {{ form.errors.values()[0][0] }}
            </div>
        {% endif %}

        {{ render_login_field(form.email) }}
        {{ render_login_field(form.password) }}
        {{ form.hidden_tag() }}

        <div class="form-actions form-actions-white">
                <button type="submit" class="btn btn-success btn-large">Log in</button>

                <a href="{{ url_for('fblogin') }}" class="btn btn-primary btn-large">or use Facebook login</a>
                
        </div>
        <div class="control-group">
            <div class="controls">
        <span id="login-regi" class="span2">Don't have an account<br>with us or Facebook?</span>
                <a class="btn btn-inverse btn-large" href="{{ url_for('signup') }}">Sign up</a>
        </div>
        </div>

    </fieldset>
</form>
</div>
</div>
</div>
</section>
{% endblock %}
