{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_flashhelpers.html" import render_flashes %}
{% from "_navhelpers.html" import render_nav %}
{% block body %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
    {{ render_nav(active='profile') }}
</div>
<div class="span10">
  {{ render_flashes() }}
<form class="form-horizontal" id="registerHere" method='post' action="#">
    <fieldset>
        <legend><h2>Account Profile</h2></legend>

        {{ render_field(form.name, disabled=True) }}
        {{ render_field(form.email, disabled=True) }}
        {{ render_field(form.username, disabled=True) }}
    </fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
