{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="{{ url_for('profile') }}">Account Profile</a></li>
              <li><a href="{{ url_for('events') }}">Events</a></li>
            </ul>
          </div>
    </div> 
    <div class="span10">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
         <div class="alert {{ category }}">
             <button type="button" class="close" data-dismiss="alert">×</button>
             {{ message }}
         </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<form class="form-horizontal" id="createEvent" method='post' action="{{ url_for('profile') }}">
    <fieldset>

        <legend>Add a username to your account</legend>
        {% if form.errors %}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">x</button>
                {{ form.errors.values()[0][0] }}
            </div>
        {% endif %}

        <div class="control-group">
            {{ form.username.label(class="control-label") }}
            <div class="controls">
                {{ form.username(class="input-large") }}
            </div>
        </div>

        {{ form.hidden_tag() }}
<div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <button type="submit" class="btn btn-success">Update account</button>
            </div>
        </div>

    </fieldset>
</form>

    </div>
  </div>
</div>
{% endblock %}
