{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_flashhelpers.html" import render_flashes %}
{% block body %}
<div class="container">
<div class="row">
  {{ render_flashes() }}
<div class="span12">
<form class="form-horizontal" id="registerHere" method='post' action="{{ url_for('signup') }}">
    <fieldset>

        <legend><h2>Sign up</h2></legend>

        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.recaptcha) }}
        {{ form.hidden_tag() }}

        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                Create My Account
            </button>
            <a href="{{ url_for('fblogin') }}" class="btn btn-primary">
                or use Facebook login
            </a>
        </div>

    </fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
