{% extends "frontlayout.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_flashhelpers.html" import render_flashes %}
{% block body %}
      <section>
        <header>
          <h1 class="sect-head bg-blue">Sign up</h1>
        </header>
         <div class="row">
  {{ render_flashes() }}
           <div class="span12">
<form class="form-horizontal" id="registerHere" method='post' action="{{ url_for('signup') }}">
    <fieldset>

        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.recaptcha) }}
        {{ form.hidden_tag() }}

        <div class="form-actions form-actions-white">
            <button type="submit" class="btn btn-success btn-large">
                Create My Account
            </button>
            <a href="{{ url_for('fblogin') }}" class="btn btn-primary btn-large">
                or use Facebook login
            </a>
        </div>

    </fieldset>
</form>
</div>
</div>
{% endblock %}
