{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="row">
<div class="span6">
<form class="form-horizontal" id="registerHere" method='post' action="{{ url_for('signup') }}">
    <fieldset>

        <legend>Registration</legend>


        <div class="control-group {% if form.errors.get('email') %}error{% endif %}">
            {{ form.email.label(class="control-label") }}
            <div class="controls">
                {{ form.email(class="input-large") }}
                <span class="help-inline">
                    {% for error in form.errors.get('email', []) %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>

        <div class="control-group {% if form.errors.get('password') %}error{% endif %}">
            {{ form.password.label(class="control-label") }}
            <div class="controls">
                {{ form.password(class="input-large") }}
                <span class="help-inline">
                    {% for error in form.errors.get('password', []) %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>

        <div class="control-group {% if form.errors.get('accept_tos') %}error{% endif %}">
            {{ form.accept_tos.label(class="control-label") }}
            <div class="controls">
                {{ form.accept_tos(class="input-large") }}
                <span class="help-inline">
                    {% for error in form.errors.get('accept_tos', []) %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>

        <div class="control-group {% if form.errors.get('recaptcha') %}error{% endif %}">
            {{ form.recaptcha.label(class="control-label") }}
            <div class="controls">
                {{ form.recaptcha(class="input-large")|safe }}
                <span class="help-inline">
                    {% for error in form.errors.get('recaptcha', []) %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>

        {{ form.hidden_tag() }}

        <div class="form-actions">
                <button type="submit" class="btn btn-success" >Create My Account</button>

                <a href="{{ url_for('fblogin') }}" class="btn btn-primary">or Log In with Facebook</a>
                
        </div>

    </fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
